/* Reset CSS styles
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} /* DM added the following to deal with Safari */
textarea, input[type="text"], input[type="button"], input[type="submit"],
input[type="number"], input[type="date"] {
     -webkit-appearance: none;
     border-radius: 0;
} /* DM added for webkit*/
input[type=date] {
	min-height: 22px;
	min-width: 150px;

}
/* -------------End of style reset ------------------ */
html {
	height: 100%;
}
body {
	font-family: 'Lato', sans-serif;
	line-height: 1.15;
	max-width: 800px;
	min-width: 320px;
	margin: 0 auto;
	text-align: center;
	height: 100%;
	max-height: 1024px;
	background-color: rgb(242, 242, 242);
}
#wrapper {
	height: 100%;
}
#title-area {
	background-color: rgb(172, 53, 63);
	color: rgb(255, 255, 255);
	padding: 10px;
}
h1 {
	font-size: 230%;
}
.small-text {
	font-size: 85%;
}
#navlist li  {
	display: inline-block;
	padding: 15px;
	color: rgb(172, 53, 63);
}

#navlist a {
	text-decoration: none;
	color: rgb(172, 53, 63);
}

#navlist #current {
	color: rgb(167, 174, 176);
}

#home a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
.required {
	color: rgb(172, 53, 63);
	margin-left: 2px;
}
#form-wrapper {
	font-size: 110%;
}
form {
	padding: 15px 0 10px 0;
}
input {
	margin: 5px 0 15px 0;
	padding: 5px;
	font-size: 90%;
	text-align: center;
	border: 1px solid black;
}
textarea {
	margin: 5px 0 5px 0;
	padding: 5px;
	text-align: center;
	border: 1px solid black;
}
.error {
	font-size: 90%;
}
#directions, #error {
	font-size: 14px;
}
#button-wrapper {
	margin-top: 10px;
}
button, #submit {
    background-color: rgb(172, 53, 63);
    border: none;
    color: rgb(255, 255, 255);
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	cursor: pointer;
}
#navlink {
	margin-top: 10px;
}
#navlink a {
		text-decoration: none;
		color: rgb(172, 53, 63);
}
#time-units, #miles {
	width: 60px;
}
table {
	margin: 0 auto;
	border-collapse: collapse;
	width: 80%;
}
td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}

#modal-wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(172, 53, 63);
	width: auto;
	padding: 10px;
}
strong {
	font-weight: 700;
	color: rgb(172, 53, 63);
}
#logged-message {
	font-size: 70%;
	margin: 10px 0 15px 0;
}
#oh-no {
	margin-top: 15px;
}

@media only screen and (min-height: 500px) {
	#form-wrapper {
		margin-top: 10px;
	}
	input {
		margin-bottom: 20px;
	}
	#button-wrapper {
		margin-top: 20px;
	}
}
@media only screen and (min-height: 600px) {
	body {
		font-size: 110%;
	}
	.small-text {
		font-size: 100%;
	}
	#form-wrapper {
		margin-top: 20px;
	}
	input {
		margin-bottom: 30px;
	}
	#directions, #error {
		font-size: 16px;
	}
	#button-wrapper {
		margin-top: 30px;
	}
}
@media only screen and (min-height: 700px) {
	body {
		font-size: 120%;
	}
	.small-text {
		font-size: 100%;
	}
	#form-wrapper {
		margin-top: 50px;
	}
	input {
		margin-bottom: 40px;
	}
	#directions, #error {
		font-size: 16px;
	}
	#button-wrapper {
		margin-top: 30px;
	}
}
@media only screen and (min-height: 850px) {
	body {
		font-size: 130%;
		background-color: rgb(255, 255, 255);
	}
	#wrapper {
		background-color: rgb(242, 242, 242);
	}
	#title-area {
		margin-bottom: 40px;
	}
	.small-text {
		font-size: 100%;
	}
	input {
		margin: 10px 0 25px 0;
	}
	#directions, #error {
		font-size: 20px;
	}
	#button-wrapper {
		margin-top: 35px;
	}
	button, #submit {
		font-size: 20px;
	}
}
